.html,
body {
  background-color: #185215;
}

.App {
  display: flex;
  justify-content: center;
}

.app-roomcomp {
  margin-top: 20vh;
  height: 30vh;
  width: 40vh;
  border: 5px solid #91191b;
  border-radius: 5%;
  background-color: #9c848465;
  padding-bottom: 40px;
}

.app-roomcomp .name-label {
  position: absolute;
  right: 25px;
  top: 0;
}
